# Decison Trees

Load some fake data on past hires/l

In [3]:
import numpy as np
import pandas as pd
from sklearn import tree

# path to sample data file
input_file = "PastHires.csv"

# read in data to datadrame
df = pd.read_csv(input_file, header = 0)

In [4]:
# display first five rows
df.head()

,Years Experience,Employed?,Previous employers,Level of Education,Top-tier school,Interned,Hired
0,10,Y,4,BS,N,N,Y
1,0,N,0,BS,Y,Y,Y
2,7,N,6,BS,N,N,N
3,2,Y,1,MS,Y,N,Y
4,20,N,2,PhD,Y,N,N

Map Y,N to 1,0 and levels of education to some scale of 0-2.

In [5]:
# map labeled data to numerical data
d = {'Y': 1, 'N': 0}
df['Hired'] = df['Hired'].map(d)
df['Employed?'] = df['Employed?'].map(d)
df['Top-tier school'] = df['Top-tier school'].map(d)
df['Interned'] = df['Interned'].map(d)

# map labeled data to numerical data
d = {'BS': 0, 'MS': 1, 'PhD': 2}
df['Level of Education'] = df['Level of Education'].map(d)

# display new data
df.head()

,Years Experience,Employed?,Previous employers,Level of Education,Top-tier school,Interned,Hired
0,10,1,4,0,0,0,1
1,0,0,0,0,1,1,1
2,7,0,6,0,0,0,0
3,2,1,1,1,1,0,1
4,20,0,2,2,1,0,0

Separate the features from the target column that we're trying to bulid a decision tree for.

In [6]:
# extract attribute data that will determine 
features = list(df.columns[:6])
features

['Years Experience',
 'Employed?',
 'Previous employers',
 'Level of Education',
 'Top-tier school',
 'Interned']

Now actually construct the decision tree:

In [7]:
# y vector is what we want to predict
y = df["Hired"]

# x vector is a collection of all data in feature columns
X = df[features]

# create classifier
clf = tree.DecisionTreeClassifier()

# fit classifier to feature data
clf = clf.fit(X,y)

Dssplay it:

To read this decision tree, each condition branches left for "true" and right for "false". When you end up at a value, the value array represents how many samples exist in each target value. So value = [0. 5.] mean there are 0 "no hires" and 5 "hires" by the tim we get to that point. value = [3. 0.] means 3 no-hires and 0 hires.

In [9]:
!pip install --upgrade scikit-learn==0.20.3

Defaulting to user installation because normal site-packages is not writeable

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7fb0de9d9910>, 'Connection to pypi.org timed out. (connect timeout=15)')': /simple/scikit-learn/

WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7fb0de9d9ca0>, 'Connection to pypi.org timed out. (connect timeout=15)')': /simple/scikit-learn/

^C
ERROR: Operation cancelled by user

In [10]:
from IPython.display import Image
from sklearn.externals.six import StringIO
import pydotplus

dot_data = StringIO()
tree.export_graphviz(clf, out_file=dot_data, feature_names=features)
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())
Image(graph.create_png())

ModuleNotFoundError: No module named 'sklearn.externals.six'

## Ensemble learning: using a random forest

Use a random forest of 10 decision trees to predict employment of specific candidate profiles:

In [1]:
from sklearn.ensemble import RandomForestClassifier

# build model using same data
clf = RandomForestClassifier(n_estimators=10)

# fit forest given data
clf = clf.fit(X, y)

#Predict employment of an employed 10-year veteran
print (clf.predict([[10, 1, 4, 0, 0, 0]]))

#...and an unemployed 10-year veteran
print (clf.predict([[10, 0, 4, 0, 0, 0]]))

NameError: name 'X' is not defined